//Chargement des fichiers fonts de FA
$fa-font-path: '~font-awesome/fonts';

//Breakpoints
$breakpoint-medium: 500px;
$breakpoint-large: 800px;
$breakpoint-extra-large: 1200px;

//Fonts (family, size)
$font-size: 16px;
$font-size-medium: 20px;
$font-size-large: 60px;

$font-family-title-site: 'tangerine';
$font-family: 'indie flower';

//Couleurs
$color-title-site: #330066;
$color-title: #660066;
$color-content: #1a0066;

$post-bg-colors: #330066;
$background-page: #330033;

$text-color: black;
